<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div id='myapp' class='container'>
        <h1>Hello, world!</h1>

        <div>
            <div v-if="send_data">
                <div v-if="good" class="alert alert-success" role="alert">
                  ${ message }
                </div>
                <div v-if="! good" class="alert alert-danger" role="alert">
                  ${ message }
                </div>
              </div>
            <div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Title movie</label>
                  <input v-model='titre' type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Author</label>
                    <select v-model='id' class="form-control" id="exampleFormControlSelect1">
                      <option value=''>author</option>
                      <option v-for="itm in actors" v-bind:value="itm.id">${ itm.name }</option>
                  </select>
                  </div>
        
                <div class="form-group">
                    <label for="exampleInputPassword1">Annnee</label>
                    <input v-model='year' type="text" class="form-control" id="exampleInputPassword1"  placeholder="Enter year">
                </div>
                <button v-on:click='new_movie'  class="btn btn-primary">Submit</button>
                </div>
        </div>
        <br><br>
        <div>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">title</th>
                <th scope="col">Realisators name</th>
        
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in movies">
                <th scope="row">${ item.id }</th>
                <td>${ item.title }</td>
                <td >
                  <p v-for='itm in item.actors'>${ itm.name }</p>
                    
                
              </td>
              </tr>
            </tbody>
          </table>
       </div>
        
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
          el: '#myapp',
          data () {
            return {
              info: null
            }
          },
          data: {
            send_data: false,
            movies: [],
            actors: [],
            titre : '',
            id : '',
            year : '',
            message : '',
            good: false,
          },
          delimiters: ["${", "}"],
          mounted () {
              this.getdata();
          }, 
          methods: {
            getdata: function () {
                    axios.defaults.xsrfCookieName = 'csrftoken'
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                    axios.post('http://127.0.0.1:8000/graphql/', {
                      query: `
                          query{
                            movies {
                                id
                                title
                                actors {
                                  id
                                  name
                                }
                              },
                            actors {
                              id
                              name
                            }
                          
                          }
                          `
                        }).then(response => {
                            console.log(response.data.data)
                            this.movies = response.data.data.movies
                            this.actors = response.data.data.actors
                        })
                        .catch((err) => {
                            console.log('erreur')
                           
                            
                    })
                },
            verif_saisie: function(titre, id, annee){
              saisi = true
              if (titre == ''){
                saisi = false
              }
              if (id == ''){
                saisi = false
              }
              if (annee == ''){
                saisi = false
              }

              return saisi

            },
          
            new_movie: function(){
                    axios.defaults.xsrfCookieName = 'csrftoken'
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                    saisi = this.verif_saisie(this.titre,this.id, this.year)
                    if (saisi){
                     axios.post('http://127.0.0.1:8000/graphql/', {
                     query: `
                          mutation{
                            createMovie(input: {
                              title: "${this.titre}",
                              actors: [
                                {
                                  id: ${this.id }
                                }
                              ]
                              year:  ${this.year }
                            }) {
                              ok
                              movie{
                                id
                                title
                                actors {
                                  id
                                  name
                                }
                                year
                              }
                            }
                          }
                          `
                        }).then(response => {
                            console.log(response.data.data)
                            send_data = true
                            message = 'Video bien enregistrée'
                            this.good = true
                            
                        })
                        .catch((err) => {
                            console.log('erreur')
                            send_data = true
                            message = "Probleme d'enregistrement"
                            this.good = false
           
                        })
                    }else {
                      send_data = true
                      message = 'Verifiez que toutes les champs sont coreectement saisi !'
                      this.good = false
                    }
      
                }
            }
            
        })
    </script>
  
  </body>
</html>